<template>
  <v-layout>
    <v-flex xs12>
      <div v-if='networkError === true'>
        <h2> NETWORK ERROR </h2>
      </div>

      <div id="SearchInput-Title">
        <div
          v-if="searchText !== ''"
          class="text-xs-center"
        >Recherche de {{ searchText }} </div>

        <div
          v-if="matchCount !== 0"
          class="text-xs-center"
        >{{ matchCount }} résultat(s) </div>
      </div>

      <v-layout >
        <v-flex xs12>
          <v-text-field
            id="SearchInput"
            type="text"
            solo
            required
            style="width: 300px;
                  margin-left: auto;
                  margin-right: auto;"
            v-on:keyup.enter="routeToResult(searchText)"
            v-model="searchText"
          />
        </v-flex>
      </v-layout>

      <!-- v-btn replace button in Vuetify -->
      <v-btn
        id="SearchInput"
        color="green"
        class="white--text"
        large
        @click="routeToResult(searchText)"
      >Rechercher</v-btn>

    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios';

export default {
  name: 'SearchInput',

  props: {
    type: String
    },

  data () {
    return {
      searchText: '',
      matchCount: 0,
      networkError: false,
    }
  },

  created() {
    if (this.$route.params.searchText !== undefined) {
      this.searchText = this.$route.params.searchText;
      this.submit(this.searchText)
    }
  },

  methods: {
    routeToResult(searchText) {
      this.$router.push({ name: 'search', params: { searchText } })
      this.submit(this.$route.params.searchText)
    },

    submit(searchText) {
      this.matchCount = 0
      if (searchText !== '') {
        axios.get(`http://localhost:8000/api/species/?search=${searchText}`)
        .then((response) => response.data)
        .then((json) => { this.$emit('result-submitted', json); this.networkError = false; return json })
        .then((json) => { this.matchCount = Object.keys(json).length })
        // eslint-disable-next-line
        .catch((err) => {
          console.error(err);
          this.networkError = true
        })
      }
    },
  },
}
</script>

<style>
#SearchInput-Title {
  font-size: large;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#SearchInput {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
